.DS_Store
.idea
nbproject
/packages
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
/var/*
!/var/labels
/vendor
/composer.lock
